@import 'mods/bulma-mods.scss';
@import 'octocat.scss';
@import 'mods/notification-progress.scss';

@import 'features/index';

.centered-image {
  left: 37.5%;
  width: 25%;
  height: 25%;
  position: relative;
}

.notification.sticky {
  position: sticky;
  bottom: 5%;
  left: 5%;
}
