@import 'bulma-mods.scss';
@import 'octocat.scss';
@import 'notification-progress.scss';

a[href='/auth'] {
  padding: 0.5em 0;
  text-transform: uppercase;

  &:hover {
    background-color: unset;
  }

  button {
    background-color: transparent;
    border-color: $primary;
    color: $primary;
  }

  &.active button,
  :hover {
    background-color: $primary;
    color: white;
  }
}

button.is-icon {
  border: none;
  background-color: transparent;
  height: 1em;
  vertical-align: 0.125em;
}

.centered-image {
  left: 37.5%;
  width: 25%;
  height: 25%;
  position: relative;
}

.query-header {
  cursor: pointer;
}
